<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="main.js"></script>
</head>
<body>
    <h1>JS example</h1>
    <p id="greetingContent"></p>
</body>
</html>